@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply font-sans;
    }
}

/* Custom Glow Effects */
.glow-text {
    text-shadow: 0 0 20px rgba(10, 132, 255, 0.5);
}

.glow-box {
    box-shadow: 0 0 40px -10px rgba(10, 132, 255, 0.3);
}
