---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar";
import Hero from "../components/Hero";
import SuccessFeatures from "../components/SuccessFeatures";
import ProductShowcase from "../components/ProductShowcase";
import FeaturesGrid from "../components/FeaturesGrid";
import Students from "../components/Students";
import Pricing from "../components/Pricing";
import Footer from "../components/Footer";
import ModalManager from "../components/modals/ModalManager";
---

<Layout title="DanceFlow | Gestión Inteligente para Academias de Baile">
    <Navbar client:load />

    <main>
        <Hero client:load />
        <FeaturesGrid client:visible />
        <SuccessFeatures client:visible />
        <ProductShowcase client:visible />
        <Students client:visible />
        <Pricing client:visible />
    </main>

    <Footer client:visible />
    <ModalManager client:load />
</Layout>
